body {
   /* overflow: hidden; */
  height: 100vh;
 } 

.bg-custom {
	/* background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) ; */
	background: linear-gradient(to bottom, #ccffff 0%, #ffffcc 100%);
	background-size: cover;
	background-repeat: no-repeat;
	
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
#otherVal{
	display: none;
}

.errorMsg {
	display: none;
	color: maroon;
	background-color: #feccc9;
	border-radius: 5px;
}

.passValidation {
	display: none;
}

.form-group.error input {
	border-color: #dc3545;
	background-color: #feccc9;
}

.form-group.success input {
	/* border: 1px solid #ced4da; */
	border: 1px solid lightgreen;
}

.legend.error {
	color: #dc3545;
}

.legend.success {
	color: #212529;
}

.legend1.error {
	color: #dc3545;
}

.legend1.success {
	color: #212529;
}

#gender.error {
	border-color: #dc3545;
	color: #dc3545;
}

#gender.success {
	/* border-color: #ced4da; */
	border: 1px solid lightgreen;
	color: #495057;
}

.table {
	table-layout: fixed;
	word-wrap: break-word;
}
